---
const { title, url, desc } = Astro.props
---

<div class='border rounded-md p-4 relative group hover:translate-x-2 transition-all duration-300 hover:-translate-y-2 hover:cursor-pointer'>
  <h2 class='text-xl font-bold mb-2'>
    {title}
  </h2>
  <p class='text-gray-600 mb-4'>
    {desc}
  </p>

  <a href={url} class='text-blue-500 absolute inset-0 group-hover:translate-x-2'>
  </a>
</div>
